#start {
    background-color: white;
    color:black;
    font-size: 24px;
    text-align: center;
    width:100px;
    height:40px;
    margin-left:30px;
    margin-top:30px;
}

main{
    width:300px;
    position:relative;
}

.alphabet {
    display:block;
}

.solving{
    position:relative;
    margin-left: 10%;
}

.solve{
    margin-bottom: 5%;
}

.items {
    display:grid;
    grid-template-columns: 150px 1fr;
}

.alphabetButton {
    background-color: white;
    text-align: center;
    width: 80px;
    height:40px;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.fname {
    padding:0;
    border: none;
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    width:40px;
    text-align: center;
    font-size: 20px;
}

